@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffd2f5;
  --foreground: #171717;
}

html {
  font-family: 'comic sans ms', sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
}
